.login-container{
    height:700px;
    background:white;
    position: relative;
}

.login-box{
    height:555px;
    width:320px;
    background-color: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:70px 30px;
}

.login-box .avatar{
    height:100px;
    width:100px;
    border-radius: 50%;
    position:absolute;
    top:-50px;
    left:calc(50% - 50px);
}

.login-box h1{
    margin:0;
    padding:0 0 20px;
    color:white;
    text-align:center;
    font-size:22px;
}

.login-box label{
    margin:0;
    padding:0;
    color:white;
    font-weight:bold;
    display:block;
}

/*---start input styling---*/
.login-box input{
    width:100%;
    margin-bottom:20px;
}

.login-box input[type="text"], input[type="password"], input[type="email"]{
    border:none;
    border-bottom: 1px solid white;
    background: transparent;
    outline:none;
    height:40px;
    color:white;
}

::placeholder{
    text-align:right;
    font-size:16px;
}
/*---end input styling---*/


/*---Start button styling---*/
.login-box input[type="submit"]{
    border-radius: 20px;
    height:40px;
    font-size: 18px;
    font-weight: bold;

}

.login-box input[type="submit"]:hover{
    color:black;
}
/*---end button styling---*/


/*---Start link styling---*/
.login-box a{
    display: block;
    text-decoration:none;
    font-size:17px;
    color:darkgray;
}

.login-box a:hover{
    color:#ffc107;
}
/*---end link styling---*/